<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">User Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="user_name"
          #user_name
        />
      </div>
      <div
        *ngIf="
          angForm.controls['user_name'].invalid &&
          (angForm.controls['user_name'].dirty ||
            angForm.controls['user_name'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['user_name'].errors.required">
          User Name is required
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Name </label>
        <input
          type="text"
          class="form-control"
          formControlName="person_name"
          #person_name
        />
      </div>
      <div
        *ngIf="
          angForm.controls['person_name'].invalid &&
          (angForm.controls['person_name'].dirty ||
            angForm.controls['person_name'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['person_name'].errors.required">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Employee Id Number </label>
        <input type="text" class="form-control" formControlName="employee_id_number" #employee_id_number />
      </div>
      <div
      *ngIf="
        angForm.controls['employee_id_number'].invalid &&
        (angForm.controls['employee_id_number'].dirty ||
          angForm.controls['employee_id_number'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="angForm.controls['employee_id_number'].errors.required">
        Employee Id is required
      </div>
    </div>
      <div class="form-group">
        <button type="submit"
        [disabled]="angForm.pristine || angForm.invalid"
        class="btn btn-primary">Add Business</button>
      </div>
    </form>
  </div>
</div>
